.message-header
  .message-header__user-name
    テストさん
  .message-header__posted-date
    2018/4/8 20:10:30
.message-body
  .message-body__content
    hi

.message-header
  .message-header__user-name
    テストさん
  .message-header__posted-date
    2018/4/8 20:10:30
.message-body
  .message-body__content
    hi

.message-header
  .message-header__user-name
    テストさん
  .message-header__posted-date
    2018/4/8 20:10:30
.message-body
  .message-body__content
    hi

.message-header
  .message-header__user-name
    テストさん
  .message-header__posted-date
    2018/4/8 20:10:30
.message-body
  .message-body__content
    hi
