.wrapper
  .side-bar
    .header
      .header__name
        テストさん
      .header__list

    .groups
      %h2 test
      %p hi
  .chat
    .header
      .header-left
        %h1 test
        %p Member: テストさん
      .header-right
        .header-right__btn
          Edit
    .messages
      テストさん
    .form
      ここはチャットのフォーム
