$side-bar-width: 300px;
$header-height: 100px;
$form-height: 90px;
$accent-color: #38aef0;
$flash-notice-color: $accent-color;
$flash-danger-color: rgb(229, 95, 41);

@mixin a_color($color: #ffffff) {
  a {
    text-decoration: none;
    &:link { color: $color; }
    &:visited { color: $color; }
    &:active { color: $color; }
  }
}

@mixin set_ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
